img {
    max-height: 100%;
    max-width: 100%;
  }

  nav ul a
  {
      color: black;
  }
.row-flashes {
    background-color: pink;
    color: white;
    text-align: center;
}

body{
    background-color: #ba68c8;
}

.btn:hover, .btn-large:hover, .btn-small:hover .btn-floating:hover {
    background-color: purple;
}

.edit-btn{
    background-color: blue;
    color: white;   
}

.delete-btn{
    background-color: pink;
    color: white;   
}

.btn-large {
    background-color: black;
    color: white;

}

.collapsible li {
    background-color: white;

}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 40px;
}

.collapsible-header {
    text-align: left;
}
