{% extends "base.html" %}
{% block content %}
    <h3 class="light-purple-text text-darken-4 center-align">Add Review</h3>

    <div class="row card-panel grey lighten-5 ">
        <form class="col s12" method="POST" action="{{url_for('add_salon')}}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix light-purple-text text-darken-4 ">keyboard-down</i>
                    <select id="category_name" name="category_name" class="validate" required>
                      <option value="" disabled selected>Choose your option</option>
                      {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                      {% endfor %}
                    </select>
                    <label for="category_name">hairdresser category</label>
                  </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix light-purple-text text-darken-4 ">content_cut</i>
                    <input id="company_name" name="company_name" type="text" class="validate" minlength="3" maxlength="20" required>
                    <label for="company_name">Company Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix light-purple-text text-darken-4 ">location_city</i>
                    <input id="city" name="city" type="text" class="validate" minlength="3" maxlength="20" required>
                    <label for="city">City</label>
                </div>
            </div>      
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix light-purple-text text-darken-4 ">rate_review</i>
                    <textarea id="description" name="description" class="materialize-textarea validate" minlength="5" maxlength="200" required></textarea>
                    <label for="description">Review</label>
                </div>
            </div>
            <div class="row">
                <!--displays a warning if there are different price lists according to gender-->
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="material-icons prefix light-purple-text text-darken-4 "> wc </i>
                        <label for="gendered_pricelist">
                            <input type="checkbox" id="gendered_pricelist" name="gendered_pricelist">
                            <span class="lever"></span>
                            Different pricelists for men and women?
                        </label>
                    </div>
                </div>
            </div>
                            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large text-shadow">
                        Submit Review
                    </button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}