{% extends "base.html" %}
{% block content %}
    <h3 class="light-purple-text text-darken-4 center-align">Add CATEGORY</h3>

    <div class="row card-panel grey lighten-5 ">
        <form class="col s12" method="POST" action="{{url_for('add_category')}}">
            <div class="row">
                <div class="input-field col s12">
                <i class="material-icons prefix light-purple-text text-darken-4 ">add</i>
                <input id="category_name" name="category_name" type="text" class="validate" minlength="5" maxlength="20" required>
                </input>
                    <label for="category_name">Category name</label>
                </div>
            </div>
           
                            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large text-shadow">
                        Submit Category
                    </button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}