<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css' )}}"  type="text/css">
    <title>Fairdressers</title>
    {% block styles %}
    {% endblock %}
</head>
<body>
    <h1>testing base template visibility</h1>
    <!--this is a jinja template to receive content-->
    {% block content %}
    {% endblock %}


    <!-- javasvript(jquery) is needed to run materialize-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript from Materialize website-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename= 'js/script.js' )}}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>