{% extends "base.html" %}
<!-- content is the name of the block in base.html that will receive data -->
{% block content %}

<h3 class="light-purple-text text-darken-4 center-align">About Fairdressers </h3>

<div class=" row card-panel">
    <p class="center-align purple-text text-darken-4">
        This website provides recommendations of hairdressers (and/or barbers) for people who do not want to specify
        their gender.
        In many cases such businesses have separate pricelists according to the customer's gender, even if the haircut
        is the same, making it significantly more expensive when it is classified as a "ladies" haircut.
        This practice exacerbates the inequality between men and women by making services more expensive in a demographic that is already underpaid.
        It also frustrates people who do not want to have a style that is consistent with their gender. For example many women do not want a "ladies" hairstyle and end up paying three times the rate for short haircut that is typically considered a male style.
        The practice of forcing customers to declare their gender also creates a very uncomfortable situation for members of the transgender and non-binary community, who may face hostility if they are not careful about which busisses they choose to frequent.
    </p>
  </div>

<!--search field-->
<div class="row card-panel white">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="material-icons prefix light-purple-text">search</i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">search reviews</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_salons') }}" class="btn black text-shadow">reset</a>
            </div>
        </div>
    </form>
</div>


            

{% endblock %}