{% extends "base.html" %}
<!-- content is the name of the block in base.html that will receive data -->
{% block content %}
<h3 class="light-purple-text text-darken-4 center-align">About Fairdressers </h3>

<div class=" row card-panel">
    <div class="col s12 m12">
        <h4 class="center-align purple-text text-darken-4">
            Why we need hairdressers (and/or barbers) to charge according to the haircut
            instead of the person who is getting it.
        </h4>
    </div>

</div>
<div class="row">
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/static/images/short_hair.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Ladies' Haircuts<i
                        class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">The Pink Tax<i
                        class="material-icons right">close</i></span>
                <p>Charging extra for a "female" version of everyday products, often known as "The Pink Tax"
                    exacerbates existing inequalities by making services more expensive for women.</p>
            </div>
        </div><!--EO card-->
    </div><!--EO col-->
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/static/images/rainbow_face.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">The LGBT Community<i
                        class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">The Gender Binary<i
                        class="material-icons right">close</i></span>
                <p>Forcing customers to declare a gender creates a difficult and often hostile situation for
                 transgender and non-binary people.</p>
            </div>
        </div><!--EO card-->
    </div><!--EO col-->
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/static/images/masc_woman.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Style Choices<i
                        class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Forced Femininity<i
                        class="material-icons right">close</i></span>
                <p>Women who do not want a "ladies" hairstyle still pay three times the rate for a short haircut that is
                    typically considered a "men's" style.</p>
            </div>
        </div><!--EO card-->
    </div><!--EO col-->
</div><!--EO Row-->






<div class=" row card-panel">
    <p class="center-align purple-text text-darken-4">
Further resources
    </p>
</div>

<!--search field-->
<div class="row card-panel white">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="material-icons prefix light-purple-text">search</i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">search reviews</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_salons') }}" class="btn black text-shadow">reset</a>
            </div>
        </div>
    </form>
</div>


            

{% endblock %}