{% extends "base.html" %}
<!-- content is the name of the block in base.html that will receive data -->
{% block content %}

<h3 class=" center-align">Login</h3>

<!-- code from Materialize Forms section-->
<div class="row">
    <!-- 6 spaces wide on a 12 space grid with 3 spaces on each side-->
    <fodivrm class="col s12 m6 offset-m3">
      <div class="card-panel yellow">
        <h3 class="center-align purple-text text-darken-4">
          {{ username }}'s profile'
        </h3>
      </div>
    </div>
  </div>

  {% endblock %}