{% extends "base.html" %}
<!-- content is the name of the block in base.html that will receive data -->
{% block content %}

<!-- code adapted from Materialize Media section-->
<div class="col s12">
  <div class="card-panel black">
  <div class="row valign-wrapper">
    <div class="col s4">
      <img src="/static/images/rainbowhead.jpg" alt="child smiling with rainbow coloured hair" class="responsive-img">
    </div><!--EO col-->
    <div class="col s8">
      <h3 class="white-text">Welcome,</h3>
      <h1 class="white-text">{{ username|capitalize }}</h1>
    </div><!--EO col-->
  </div><!--EO row valign-wrapper-->
</div><!--EO card-panel-->
</div><!--EO col-->

<!-- code from Materialize Forms section-->
<div class="row ">
  <!-- 10 spaces wide on a 12 space grid with 1 space on each side-->
  <div class="col s12 center-align">
    <div class="row card-panel">
      <p class="center-align">
        {% if session.user =="admin" %}
        This is an <strong>admin</strong> account. You can write reviews and also edit or delete any existing reviews.
        {% else %}
        Write a review. You can edit them later if you need to.
        {% endif %}
      </p>
      <a href="{{ url_for('add_salon') }}" class="btn purple waves-effect waves-light">New Review</a>
    </div>
    <!-- pulls in all reviews and filters to those created by this user-->
    <div class="row card-panel yellow">
      <ul class="collapsible popout">
        <li>
          <div class="collapsible-header"><i class="material-icons">insert_emoticon</i><strong>{{ username }}'s
              Reviews:</strong></div>
        </li>
        {% for salon in salons %}
        {% if (session.user|lower == salon.created_by|lower) %}
        <li>
          <div class="collapsible-header white-text purple lighten-1 text-shadow">
            <div class="col s3">
              <i class="material-icons">arrow_drop_down</i>
              <!-- filters visibility of buttons to change reviews to only the creator OR the admin user -->
              {% if (session.user|lower == salon.created_by|lower) %}
              <a href="{{url_for('edit_salon', salon_id=salon._id)}}"
                class="btn-floating btn-small waves-effect waves-purple "><i class="material-icons">edit</i></a>
              {% endif %}
            </div>
            <div class="col s9">
              <strong>{{salon.company_name}}, {{salon.city}}</strong>
              {% if salon.warning == "on" %}
              <i class="material-icons light-purple-text text-lighten-2 tooltipped" data-position="right"
                data-tooltip="Pricelist is gendered">warning</i>
              {% endif %}
            </div>


          </div>
          <div class="collapsible-body">
            <strong>{{salon.category_name}}</strong>
            <p>{{salon.description}}</p>
            <p><em>Created By: {{ salon.created_by }}</em></p>
          </div>
        </li>
        {% endif %}
        {% endfor %}
        <!--a jenja for loop will dynamically provide the repetion of the above list items-->
      </ul>
    </div>
    <!--row card-panel black-->
    <div class="col s12">
      <p class="center-align">
        Want to read other people's reviews? <a href="{{ url_for ('get_salons') }}"
          class="purple-text text-darken-4">See all reviews</a>
      </p>
    </div>


  </div><!-- end s12 col-->
</div><!-- endrow-->

{% endblock %}