{% extends "base.html" %}
<!-- content is the name of the block in base.html that will receive data -->
{% block content %}

    <ul class="collapsible">
        {% for salon in salons %}
        <li>
            <div class="collapsible-header white-text purple lighten-1 text-shadow">
                <i class="material-icons">keyboard_arrow_down</i>
                <strong>{{salon.company_name}}</strong>{{salon.city}}
            </div>
            <div class="collapsible-body">
                <strong>{{salon.category_name}}</strong>
                <p>{{salon.description}}</p>
            </div>
        </li>
        {% endfor %}
        <!--a jenja for loop will dynamically provide the repetion of the above list items-->
    </ul>
            

{% endblock %}