{% extends "base.html" %}
<!-- content is the name of the block in base.html that will receive data -->
{% block content %}

<h3 class="light-purple-text text-darken-4 center-align">All Reviews</h3>

<!--search field-->
<div class="row"><!-- card-panel new row -->
    <form class="col s12" action="{{ url_for('search') }}" method="post" ><!-- col s12 -->
        <div class="row valign-wrapper center-align"><!-- new row -->
            <div class="input-field col s12 m8"><!-- col s8 -->
                <i class="material-icons prefix light-purple-text">search</i>
                <input type="text" name="query" id="query" minlength="3" class="validate" >
                <label for="query">search reviews by name, content, or city</label>
            </div>
            <div class="col s12 m2"><!-- col m2 -->
                <a href="{{ url_for('search') }}" class="btn black waves-purple" alt="search"> search</a>
            </div>
            <div class="col s12 m2"><!-- col m2 -->
                <a href="{{ url_for('get_salons') }}" class="btn black" alt="reset">reset </a>
            </div>
        </div>
    </form>
</div>

<!--list of all existing reviews-->
<div class="row"><!-- new row -->
    <div class="col s12 m12"><!-- col s12 -->
    <ul class="collapsible popout">
        <li>
            <div class="collapsible-header"><i class="material-icons">insert_emoticon</i><strong>All Reviews:</strong></div>
          </li>
        {% for salon in salons %}
        <li>
            <div class="collapsible-header white-text purple lighten-1 text-shadow">
                <div class="col s3">
                <i class="material-icons">arrow_drop_down</i>
                <!-- filters visibility of buttons to change reviews to only the creator OR the admin user -->
                {% if (session.user|lower == salon.created_by|lower) or session.user =="admin" %}
                <a href="{{url_for('edit_salon', salon_id=salon._id)}}" class="btn-floating btn-small waves-effect waves-purple light-blue"><i class="material-icons">edit</i></a>
                    {% if session.user =="admin" %}
                    <a href="#mymodal-{{ loop.index }}" class="btn-floating btn-small waves-effect waves-purple pink modal-trigger"><i class="material-icons">delete</i></a>
                                          
                    <div id="mymodal-{{ loop.index }}" class="modal">
                        <div class="modal-content black">
                        <h4>Delete Review</h4>
                        <p>Do you want to delete the review of {{salon.company_name|capitalize()}} by {{ salon.created_by|capitalize() }}? </p>
                        </div>

                        <div class="modal-footer">
                            <a href="{{url_for('delete_salon', salon_id=salon._id)}}"
                                class="modal-close waves-effect waves-yellow btn-flat">Yes</a>
                        </div>
                        <div class="modal-footer">
                            <a href="{{url_for('get_salons')}}"
                                class="modal-close waves-effect waves-yellow btn-flat">No</a>
                        </div>
                    </div>
                    {% endif %}

                {% endif %}
                </div>
                <div class="col s8">
                <strong>{{salon.company_name}},  {{salon.city}}</strong>
                {% if salon.warning == "on" %}
                <i class="material-icons light-purple-text text-lighten-2 tooltipped" data-position="right" data-tooltip="Pricelist is gendered">warning</i>
                {% endif %}                    
                </div>


            </div>
            <div class="collapsible-body">
                <strong>{{salon.category_name}}</strong>
                <p>Contact person: {{salon.contact_name}}</p>               
                <p>{{salon.description}}</p>
                <p>date created: </p>               
                <p><em>Created By: {{ salon.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
        <!--a jenja for loop will dynamically provide the repetion of the above list items-->
    </ul>
    </div>
</div>            
{% endblock %}