{% extends "base.html" %}
<!-- content is the name of the block in base.html that will receive data -->
{% block content %}

<h3 class="light-purple-text text-darken-4 center-align">All Reviews</h3>


    <ul class="collapsible">
        {% for salon in salons %}
        <li>
            <div class="collapsible-header white-text purple lighten-1 text-shadow">
                <div class="col s3">
                <i class="material-icons">keyboard_arrow_down</i>
                <!-- filters visibility of buttons to change reviews to only the creator OR the admin user -->
                {% if (session.user|lower == salon.created_by|lower) or session.user =="admin" %}
                <a href="{{url_for('edit_salon', salon_id=salon._id)}}" class="btn-floating btn-small waves-effect waves-light light-blue"><i class="material-icons">edit</i></a>
                    {% if session.user =="admin" %}
                    <a href="{{url_for('delete_salon', salon_id=salon._id)}}" class="btn-floating btn-small waves-effect waves-light pink"><i class="material-icons">delete</i></a>
                    {% endif %}
                {% endif %}
                </div>
                <div class="col s9">
                <strong>{{salon.company_name}},  {{salon.city}}</strong>
                {% if salon.warning == "on" %}
                <i class="material-icons light-purple-text text-lighten-2 tooltipped" data-position="right" data-tooltip="Pricelist is gendered">warning</i>
                {% endif %}                    
                </div>


            </div>
            <div class="collapsible-body">
                <strong>{{salon.category_name}}</strong>
                <p>{{salon.description}}</p>
                <p><em>Created By: {{ salon.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
        <!--a jenja for loop will dynamically provide the repetion of the above list items-->
    </ul>
            

{% endblock %}